<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script src="js/jquery.min.js"></script>
  <script src="js/Chart.min.js"></script>
</head>
<body>

  <h1>Welcome to <%= title %></h1>

  <p>Currently running test with an n of <strong>4 to <%= n %></strong> on <strong><%= cores %></strong> cores</p>

  <canvas id="myChart" width="800" height="600"></canvas>

  <script>
    var data = {
      labels: [],
      datasets: [
        {
          label: "Solve Times",
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,0.8)",
          highlightFill: "rgba(220,220,220,0.75)",
          highlightStroke: "rgba(220,220,220,1)",
          data: []
        }
      ]
    };
    var myLineChart = new Chart($("#myChart").get(0).getContext("2d")).Bar(data);
    var max = <%= n %>;

    var getData = function(n) {
      if (n <= max) {
        $.get("api/" + n, function(res) {
          myLineChart.addData([res.time], res.n);
          getData(n + 1);
        });
      }
    }

    $(document).ready(function(){
      getData(4);
    });

  </script>

</body>
</html>
